@import 'application';

// rounded edges
$radius: 10px;

// column tweaks

.column {
  // fullscreen
    flex-grow: 1 !important;
    }

// fix column spacing in case of box shadow
@media screen and (min-width: 1025px) {
  .column {
      padding: 0;
          margin: 10px;
	      margin-left: 5px;
	          margin-right: 5px;

    &:first-child {
          padding: 0;
	        margin-left: 10px;
		    }

    &:last-child {
          padding: 0;
	        margin-right: 10px;
		    }
		      }
		      }

// fix overflow on drawer__inner for box shadow
.drawer__pager, .drawer__inner {
  overflow: visible;
    overflow-y: visible;
    }

