$color1: #141414; // darkest
$color2: #B9D592; // lightest
$color3: #94B75C; // lighter
$color4: #246B73; // vibrant
$color5: #ffffff !default; // white
$color6: #df405a !default; // error red
$color7: #79bd9a !default; // succ green
$color8: #000000 !default; // black